.lobby, .loading

	display: none

.loading

	position: absolute
	top: 50%
	left: 50%
	width: 960px
	line-height: 50px

	text-align: center

	font-size: 48px
	font-weight: 100

	margin: -50px 0 0 -480px

	&.error

		font-size: 24px
		font-weight: 300

.lobby

	> a

		display: none
		margin: 20px auto 0

	.user

		display: none

		margin-bottom: 20px

		.span1

			img

				width: 100%

		h3

			margin: 0 0 6px
			line-height: 24px

.playground

	display: none

	margin-top: 30px

	h1

		text-align: center

	.songs

		margin-top: 20px

		a

			display: block
			padding: 10px

			width: 600px

			color: #000

			font-weight: 300

			margin: 0 auto 16px

			background: #eee
			background: -webkit-linear-gradient(#fff, #eee)

			text-decoration: none

			border: 1px #ccc solid

			border-radius: 4px

			box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1)

			height: 42px

			.fail

				display: none
				line-height: 42px

			img

				height: 42px
				margin-left: 10px

			img.pull-left

				margin-left: 0
				margin-right: 10px

			span

				color: #666

.results

	display: none

	text-align: center

	margin: 50px auto 0

	width: 600px